extends layout

block content

    section#intro-text
        span Simple Kitchen
        h3
        | Simple &amp; Comforting 
        br
        |             Recipes All Year Round

    span#intro-reply
        br
        | Thank you for your registration!